<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let post of posts$ | async ; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{post.title}} 
        <p style = "color:gold" *ngIf = "saved[i]">  saved for later viewwing</p>
        <button mat-raised-button
    color = "primary"
    (click) = "seeComments(post.id)">
    see Comments
    </button>
    <button mat-raised-button
    color = "primary"
    (click) = "add(post.title) ; saved[i] = !saved[i]" 
    [disabled] = "saved[i]">
    Save
    
    </button>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.body}}</p>
  </mat-expansion-panel>
  
  
</mat-accordion>



<!-- <div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen= !addCustomerFormOpen">
      Add Customer
    </button>
  </div>
    
  <div>
    <customerform *ngIf="addCustomerFormOpen"
    (update)="add($event)"
    (closeEdit)="addCustomerFormOpen=false"
    [formType]="'Add customer'"
    >
  
    </customerform>

    
    
      <table >
        <tr>
          <th>Name</th>
          <th>Years</th>
          <th>Income</th>
          <th>Id</th>
          <th>Prediction</th>
        </tr>
        <tr  *ngFor = "let customer of customers$ | async; let i= index">
          <td>{{customer.name}}</td>
          <td >{{customer.years}}</td>
          <td >{{customer.income}}</td>
          <td>{{customer.id}}</td>
          <td>{{customer.prediction}}</td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "deleteCustomer(customer.id)">
            Delete
            </button>
          </td>
          <td>
            <button mat-raised-button
            color = "primary"
            (click) = "editstate[i] = !editstate[i]">
              Edit
            </button>
        <customerform
          [hidden] = "!editstate[i]"
          [name] = "customer.name"
          [years] = "customer.years"
          [income] = "customer.income"
          [id]= "customer.id"
          [formType]="'Edit customer'"
          (update)= "updateCustomer($event) ; editstate[i] = !editstate[i]"
          (closeEdit)= "editstate[i] = !editstate[i]"
        > 
  
        </customerform>
          </td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "predict(customer.years,customer.income)">
            Predict
            </button>
          </td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "addPrediction(userId,customer.id,prediction)">
            Add prediction to database
            </button>
          </td>
        </tr>
        
      </table>
      <p *ngIf = "prediction=='Yes'" style="color: green;">{{prediction}}</p>
      <p *ngIf = "prediction=='No'" style="color: red;">{{prediction}}</p> -->
