<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let comment of comments$ | async ; let i=index">
    <mat-expansion-panel-header>
     
      <mat-panel-title>
        post Id: {{comment.postId}} - Comment Id: {{comment.id}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{comment.body}}
    <button mat-raised-button
          color = "primary"
          (click) = "editstate[i] = !editstate[i]">
      
        Edit
      </button>
      <customerform 
        [hidden] = "!editstate[i]"
        [postId] = "comment.postId"
        [body] = "comment.body"
        [id] = "comment.id"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]"
      >
    </customerform>    
    
  </mat-expansion-panel>
</mat-accordion>


<!-- <form #classifyForm="ngForm" >
<mat-form-field style = "width:400px">
    <mat-label>Text to classify</mat-label>
    <textarea matInput
              [(ngModel)] = "text" 
              required
              name = "text" 
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button
    color = "primary"
      (click) = "classify()"
      [disabled]="!classifyForm.form.valid">
      Classify
    </button>
  </div> -->
 
  