<div style=  border:green>
<p  *ngIf = "(authService.getUser()|async)" >{{mail}}</p>
</div>
<mat-card>
  <mat-card-title style="text-align:center"> saved posts </mat-card-title>
  <div >
<table >
        <th>Saved Posts</th>
        <th>Num of likes</th>
        <th>Prediction</th>

        <tr *ngFor = "let customer of customers$ | async">
            <td>{{customer.title}}</td>
            <td style ="text-align:center">{{customer.likes}}</td>
            <td  style ="text-align:center">{{customer.prediction}}</td>
            <td>
                <button mat-raised-button
               
                color = "primary"
                (click) = "deletePost(customer.id)">
                Delete
                </button>
              </td>
              <td>
                <button mat-raised-button
               
                color = "primary"
                class="float-right"
                (click) = "like(customer.likes, customer.id)">
                Like
                </button>
              </td>
              <td>
                <button mat-raised-button
               
                color = "primary"
                (click) = "predictPost(customer.title, customer.id)">
                Predict
                </button>
              </td>
              <td>
              <button mat-raised-button
           
            color = "primary"
            (click) = "addPrediction(userId,customer.id,prediction)">
            Add prediction to database
            </button>
          </td>
        </tr>
        
      </table>
        {{predictAns}}
      </div>
        </mat-card>
   
      <!-- <p *ngIf = "prediction=='True'" style="color: green;">{{prediction}}</p>
      <p *ngIf = "prediction=='False'" style="color: red;">{{prediction}}</p> -->

         
        
    





