<mat-card>
  <h1>Edit</h1>
  <form #editForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>postId</mat-label>
            <input matInput 
              [(ngModel)] = "postId"
              name = "postId"
              required>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Body</mat-label>
            <input matInput 
              [(ngModel)] = "body" 
              name = "body" 
              required>
          </mat-form-field>
        </p>                                       
      <div >
          <button mat-raised-button color="primary" 
                  (click)= "updateParent()">
                  Update
                   
          </button>
          <button mat-raised-button  
                  (click)= "tellParentToClose()">
                   Cancel
          </button>            
      </div>
    </div>
  </form>
 </mat-card>

